.tab-button {
    background: rgba(0,0,0,0.2) !important;
}
.tabbar:before {
    background-image: none !important;
}

.tabs-md .tab-button-icon {
    color:#aaa !important;
    font-size: 3rem !important;
}