<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" media="all">
        {% endblock %}

        <script>
            {% for flashbMessage in app.session.flashbag.get('notice') %}
                alert('{{ flashbMessage }}');
            {% endfor %}

        </script>

        {% block javascripts %}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        {% endblock %}

    </body>
</html>
