{# templates/address/list.html.twig #}
{% extends 'base.html.twig' %}
{% set locale_u = 'sv' %}
{% block title %}
Your lucky number is {{ number }}
{% endblock %}
{% block body %}
    <h1>Your lucky number is {{ number }} {{ 'Testing2'|trans }}</h1>
    {% trans %} Testing {% endtrans %}
    <main id="content">
        <main>
            <section class="entry-content">
                <div id="entry-content-wrapper">
                    <form>
                        <div id="acf-form-data" class="acf-hidden">
                            <input type="hidden" name="_acfnonce" value="">
                            <input type="hidden" name="_acfchanged" value="">
                            <input type="hidden" name="_acfform" value="">
                        </div>

                        <div class="acf-fields">
                            <div id="acf-added">
                                <div class="acf-label">
                                    <label for="acf-field_593666a83618e">added</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-true-false">
                                        <input name="" value="0" type="hidden"><label>
                                            <input type="checkbox" id="acf-field_593666a83618e" name="acf[field_593666a83618e]" value="1" class="acf-switch-input" autocomplete="off">
                                            <div class="acf-switch"><span class="acf-switch-on" style="min-width: 21px;">Yes</span><span class="acf-switch-off" style="min-width: 21px;">No</span><div class="acf-switch-slider"></div></div>			</label>
                                    </div>
                                </div>
                            </div>
                            <div id="acf-address" class="acf-field acf-field-google-map acf-field-5935cdd90f132" data-name="address" data-type="google_map" data-key="field_5935cdd90f132" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_5935cdd90f132">address <span class="acf-required">*</span></label>
                                </div>
                                <div class="acf-input">
                                    <div id="acf-field_5935cdd90f132" class="acf-google-map  -value" data-lat="39.5695347" data-lng="2.639897" data-zoom="16">

                                        <div class="acf-hidden">
                                            <input type="hidden" class="input-address" name="acf[field_5935cdd90f132][address]" value="Bar Vista Alegre, Palma de Mallorca, Spanien">
                                            <input type="hidden" class="input-lat" name="acf[field_5935cdd90f132][lat]" value="39.5815371">
                                            <input type="hidden" class="input-lng" name="acf[field_5935cdd90f132][lng]" value="2.652653399999963">
                                        </div>

                                        <div class="title acf-soh">

                                            <div class="actions acf-soh-target">
                                                <a href="#" data-name="search" class="acf-icon -search grey" title="Search"></a>
                                                <a href="#" data-name="clear" class="acf-icon -cancel grey" title="Clear location"></a>
                                                <a href="#" data-name="locate" class="acf-icon -location grey" title="Find current location"></a>
                                            </div>

                                            <input class="search" type="text" placeholder="Search for address..." value="Bar Vista Alegre, Palma de Mallorca, Spanien" autocomplete="off">
                                            <i class="acf-loading"></i>

                                        </div>

                                        <div class="canvas" style="height: 400px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; position: absolute; left: -231px; top: -181px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -231px; top: -181px;"></div></div></div><div style="width: 22px; height: 40px; overflow: hidden; position: absolute; left: -11px; top: -40px; z-index: 0;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 22px; height: 40px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px;"><div style="overflow: hidden;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div></div><div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div class="gmnoprint" style="width: 22px; height: 40px; overflow: hidden; position: absolute; opacity: 0.01; left: -11px; top: -40px; z-index: 0;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi_hdpi.png" draggable="false" usemap="#gmimap0" style="position: absolute; left: 0px; top: 0px; width: 22px; height: 40px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"><map name="gmimap0" id="gmimap0"><area href="javascript:void(0)" log="miw" coords="8,0,5,1,4,2,3,3,2,4,2,5,1,6,1,7,0,8,0,14,1,15,1,16,2,17,2,18,3,19,3,20,4,21,5,22,5,23,6,24,7,25,7,27,8,28,8,29,9,30,9,33,10,34,10,40,11,40,11,34,12,33,12,30,13,29,13,28,14,27,14,25,15,24,16,23,16,22,17,21,18,20,18,19,19,18,19,17,20,16,20,15,21,14,21,8,20,7,20,6,19,5,19,4,18,3,17,2,16,1,14,1,13,0,8,0" shape="poly" title="" style="cursor: pointer;"></map></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=39.581537,2.652653&amp;z=16&amp;t=m&amp;hl=sv-SE&amp;gl=US&amp;mapclient=apiv3" title="Klicka om du vill visa det här området på Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 0px; height: 0px; position: absolute; left: 5px; top: 5px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Kartdata</div><div style="font-size: 13px;"></div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 0px; bottom: 0px; width: 12px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Kartdata</a><span style="display: none;"></span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);"></div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/sv-SE_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Användarvillkor</a></div></div><button draggable="false" title="Aktivera och inaktivera helskärmsvy" aria-label="Aktivera och inaktivera helskärmsvy" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; top: 0px; right: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></button><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Rapportera fel i färdplanen eller bland bilder till Google" href="https://www.google.com/maps/@39.5815371,2.6526534,16z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Rapportera ett kartfel</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="0" controlheight="0" style="margin: 10px; user-select: none; position: absolute; display: none; bottom: 0px; right: 0px;"><div class="gmnoprint" style="display: none; position: absolute;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255);"><button draggable="false" title="Zooma in" aria-label="Zooma in" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none;"><div style="overflow: hidden; position: absolute;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 240px; height: 108px;"></div></button><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230);"></div><button draggable="false" title="Zooma ut" aria-label="Zooma ut" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none;"><div style="overflow: hidden; position: absolute;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 240px; height: 108px;"></div></button></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; display: none; position: absolute;"><div style="position: absolute; left: 1px; top: 1px;"></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotera kartan 90 grader" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 0px; height: 0px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; display: none; left: 0px; top: 0px;"><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Visa gatukarta" aria-label="Visa gatukarta" aria-pressed="true" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; font-weight: 500;">Karta</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; left: 0px; top: 0px; text-align: left; display: none;"><div draggable="false" title="Visa gatukarta med terräng" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Terräng</label></div></div></div><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Visa satellitbilder" aria-label="Visa satellitbilder" aria-pressed="false" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-left: 0px;">Satellit</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; right: 0px; top: 0px; text-align: left; display: none;"><div draggable="false" title="Visa bilder med gatunamn" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Etiketter</label></div></div></div></div></div></div></div>

                                    </div>
                                </div>
                            </div>
                            <div id="acf-territory" class="acf-field acf-field-text acf-field-594122a27f870" data-name="territory" data-type="text" data-key="field_594122a27f870">
                                <div class="acf-label">
                                    <label for="acf-field_594122a27f870">Territory</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_594122a27f870" class="" name="acf[field_594122a27f870]" value="" placeholder="Map name in territoryhelper (optional)" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;"></div>	</div>
                            </div>
                            <div id="acf-type" class="acf-field acf-field-select acf-field-594122c77f871" data-name="type" data-type="select" data-key="field_594122c77f871">
                                <div class="acf-label">
                                    <label for="acf-field_594122c77f871">Type</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_594122c77f871" class="" name="acf[field_594122c77f871]" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Select" data-allow_null="0"><option value="Apartment" selected="selected" data-i="0">Apartment</option><option value="House">House</option><option value="Business">Business</option></select>	</div>
                            </div>
                            <div id="acf-unit" class="acf-field acf-field-repeater acf-field-594129bc1cbda" data-name="unit" data-type="repeater" data-key="field_594129bc1cbda">
                                <div class="acf-label">
                                    <label for="acf-field_594129bc1cbda">unit</label>
                                </div>
                                <div class="acf-input">
                                    <input type="hidden" name="acf[field_594129bc1cbda]"><div class="acf-repeater -block" data-min="0" data-max="0">
                                        <table class="acf-table">


                                            <tbody>
                                            <tr class="acf-row" data-id="0">

                                                <td class="acf-row-handle order" title="Drag to reorder">
                                                    <a class="acf-icon -collapse small" href="#" data-event="collapse-row" title="Click to toggle"></a>
                                                    <span>1</span>
                                                </td>

                                                <td class="acf-fields">
                                                    <div class="acf-field acf-field-text acf-field-594144ddd7d93 -collapsed-target" data-name="units" data-type="text" data-key="field_594144ddd7d93">
                                                        <div class="acf-label">
                                                            <label for="acf-field_594129bc1cbda-0-field_594144ddd7d93">units</label>
                                                        </div>
                                                        <div class="acf-input">
                                                            <div class="acf-input-wrap"><input type="text" id="acf-field_594129bc1cbda-0-field_594144ddd7d93" class="" name="acf[field_594129bc1cbda][0][field_594144ddd7d93]" value="1" placeholder="Write unit here"></div>	</div>
                                                    </div>


                                                </td>
                                                <td class="acf-row-handle remove">
                                                    <a class="acf-icon -plus small" href="#" data-event="add-row" title="Add row"></a>
                                                    <a class="acf-icon -minus small" href="#" data-event="remove-row" title="Remove row"></a>
                                                </td>

                                            </tr>
                                            <tr class="acf-row acf-clone" data-id="acfcloneindex">

                                                <td class="acf-row-handle order" title="Drag to reorder">
                                                    <a class="acf-icon -collapse small" href="#" data-event="collapse-row" title="Click to toggle"></a>
                                                    <span>2</span>
                                                </td>

                                                <td class="acf-fields">
                                                    <div class="acf-field acf-field-text acf-field-594144ddd7d93 -collapsed-target" data-name="units" data-type="text" data-key="field_594144ddd7d93">
                                                        <div class="acf-label">
                                                            <label for="acf-field_594129bc1cbda-acfcloneindex-field_594144ddd7d93">units</label>
                                                        </div>
                                                        <div class="acf-input">
                                                            <div class="acf-input-wrap"><input type="text" id="acf-field_594129bc1cbda-acfcloneindex-field_594144ddd7d93" class="" name="acf[field_594129bc1cbda][acfcloneindex][field_594144ddd7d93]" value="" placeholder="Write unit here" disabled=""></div>	</div>
                                                    </div>


                                                </td>
                                                <td class="acf-row-handle remove">
                                                    <a class="acf-icon -plus small" href="#" data-event="add-row" title="Add row"></a>
                                                    <a class="acf-icon -minus small" href="#" data-event="remove-row" title="Remove row"></a>
                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>

                                        <ul class="acf-actions acf-hl">
                                            <li>
                                                <a class="acf-button button button-primary" href="#" data-event="add-row">Click to add units</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <script type="text/javascript">
                                    if(typeof acf !== 'undefined'){ acf.conditional_logic.add( 'field_594129bc1cbda', [[{"field":"field_594122c77f871","operator":"==","value":"Apartment"}]]); }
                                </script>
                            </div>
                            <div id="acf-status" class="acf-field acf-field-select acf-field-5941232e7f872" data-name="status" data-type="select" data-key="field_5941232e7f872">
                                <div class="acf-label">
                                    <label for="acf-field_5941232e7f872">Status</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_5941232e7f872" class="" name="acf[field_5941232e7f872]" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Select" data-allow_null="0"><option value="Unknown" selected="selected" data-i="0">Unknown</option><option value="Not interested">Not interested</option><option value="Interested">Interested</option><option value="Return visit">Return visit</option><option value="Remove">Remove</option></select>	</div>
                            </div>
                            <div id="acf-language" class="acf-field acf-field-select acf-field-594123897f873" data-name="language" data-type="select" data-key="field_594123897f873">
                                <div class="acf-label">
                                    <label for="acf-field_594123897f873">Language</label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_594123897f873" class="" name="acf[field_594123897f873]" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="Select" data-allow_null="0"><option value="Unknown" selected="selected" data-i="0">Unknown</option><option value="Swedish">Swedish</option><option value="Norwegian">Norwegian</option><option value="Danish">Danish</option><option value="Finnish">Finnish</option></select>	</div>
                            </div>
                            <div id="acf-notes" class="acf-field acf-field-textarea acf-field-59412baa9512b" data-name="notes" data-type="textarea" data-key="field_59412baa9512b">
                                <div class="acf-label">
                                    <label for="acf-field_59412baa9512b">Notes</label>
                                </div>
                                <div class="acf-input">
                                    <textarea id="acf-field_59412baa9512b" class="" name="acf[field_59412baa9512b]" placeholder="" rows="4"></textarea>	</div>
                            </div>
                            <div id="acf-delete" class="acf-field acf-field-true-false acf-field-59413b0bf4a1e acf-delete" data-name="delete" data-type="true_false" data-key="field_59413b0bf4a1e">
                                <div class="acf-label">
                                    <label for="acf-field_59413b0bf4a1e">delete</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-true-false">
                                        <input name="acf[field_59413b0bf4a1e]" value="0" type="hidden">	<label>
                                            <input type="checkbox" id="acf-field_59413b0bf4a1e" name="acf[field_59413b0bf4a1e]" value="1" class="" autocomplete="off">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-text acf-field--validate-email" style="display:none !important;" data-name="_validate_email" data-type="text" data-key="_validate_email">
                                <div class="acf-label">
                                    <label for="acf-_validate_email">Validate Email</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-_validate_email" class="" name="acf[_validate_email]" value="" placeholder=""></div>	</div>
                            </div>
                        </div>


                        <div class="acf-form-submit">

                            <input type="submit" class="acf-button button button-primary button-large" value="Update">			<span class="acf-spinner"></span>
                        </div>

                    </form>
                </div>
            </section>
        </main>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}