// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
    font-family: Lato300;
    src: url('../assets/fonts/lato300.woff2') format('woff2');
}
@font-face{
    font-family: Lato300Italic;
    src: url('../assets/fonts/lato300Italic.woff2') format('woff2');
}
@font-face{
    font-family: Lato400;
    src: url('../assets/fonts/lato400.woff2') format('woff2');
}
@font-face{
    font-family: Lato400Italic;
    src: url('../assets/fonts/lato400Italic.woff2') format('woff2');
}
@font-face{
    font-family: Lato700;
    src: url('../assets/fonts/lato700.woff2') format('woff2');
}
@font-face{
    font-family: Lato700Italic;
    src: url('../assets/fonts/lato700Italic.woff2') format('woff2');
}
@font-face{
    font-family: Lato900;
    src: url('../assets/fonts/lato900.woff2') format('woff2');
}
@font-face{
    font-family: Lato900Italic;
    src: url('../assets/fonts/lato900Italic.woff2') format('woff2');
}

*{
    font-family: Lato400;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
}

.toolbar-background-md {
    background: #28304f;
}
.header {
    .toolbar-title {
        color: #fff !important;
    }
    .row {
        background: #9370DB;
        padding: 0 0 10px;
        color: #E6E6FA;
        font-weight: bold;
        font-size: 16px;
        ion-icon {
            font-size:18px;
            color: #E6E6FA;
            padding-right: 5px;
        }
    }
}
.tabs-md .tabbar {
    background: #28304f;
}
.content {
    background: #f3f6f8;
}
.header {
    .toolbar-title {
        color: #fff;
    }
    &:after {
        content: none;
    }
}
.list-md {
    margin:0;
    border-bottom: 1px solid #f3f6f8;
}
ion-col {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px !important;
}
.visits {
    text-align: right;
}