<ion-header>
    <ion-navbar>
        <ion-title>{{location.formattedAddressString}}</ion-title>
    </ion-navbar>

        <ion-row>
            <ion-item *ngIf="location.isReturnVisit">
                <ion-label>Return Visit {{location.user.fullname}}</ion-label>
            </ion-item>
        </ion-row>

</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label color="primary" stacked>Address</ion-label>
            <ion-input (click)="showAddressModal(location)" type="text" [(ngModel)]="location.formattedAddressString" placeholder="Add address here"></ion-input>
        </ion-item>
        <ion-item style="display: none">{{location.address | json}}</ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Type</ion-label>
            <ion-select (ionChange)="onChangeAnything(location)" [(ngModel)]="location.type" placeholder="Choose type">
                <ion-option value="HOUSE">House</ion-option>
                <ion-option value="APARTMENT">Apartment</ion-option>
            </ion-select>
        </ion-item>
      <ion-item *ngIf="location.type == 'APARTMENT'">
        <ion-label color="primary" stacked>Apartment nr</ion-label>
        <ion-input (ionChange)="onChangeAnything(location)" [(ngModel)]="location.apartmentNr" type="text" placeholder="nr or letter"></ion-input>
      </ion-item>

        <ion-item>
            <ion-label color="primary" stacked>Area</ion-label>
            <ion-select (ionChange)="onChangeAnything(location)" [(ngModel)]="location.area.id" placeholder="Choose Area">
                <ion-option *ngFor = "let area of availableAreas" [value]="area.id">
                    {{area.areaName}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Language</ion-label>
            <ion-select (ionChange)="onChangeAnything(location)" [(ngModel)]="location.language"  placeholder="Choose language">
                <ion-option *ngFor = "let supportedLanguage of supportedLanguages" [value]="supportedLanguage.languageValue">
                    {{supportedLanguage.languageLabel}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Business</ion-label>
            <ion-toggle (ionChange)="onChangeAnything(location)" [(ngModel)]="location.isBusiness" ></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Note</ion-label>
            <ion-textarea (ionChange)="onChangeAnything(location)" [(ngModel)]="location.note" placeholder="Add note"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label>Is my return visit</ion-label>
            <ion-toggle (ionChange)="changeReturnVisitStatusHandler(location)" [(ngModel)]="isMyReturnVisit" ></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list id="visit-list">
        <ion-list-header>
        VISITS
        </ion-list-header>
        <ion-item *ngFor="let visit of location.visits" ngClass="{{ visit.status }}">
            <ion-row>
                <ion-col col-4>
                    <p>{{ locationsProvider.phpDateObjTojsDateObj(visit.visitDate) | date:"yyyy-MM-dd"}}</p>
                </ion-col>
                <ion-col col-4>
                    <p>{{ visit.user.fullname }}</p>
                </ion-col>
                <ion-col col-4>
                    <p>{{visit.status}}</p>
                </ion-col>
                <!--<ion-col col-10>
                    {{ visit.note }}
                </ion-col>-->
              <!--<ion-col col-10>
                <button ion-button type="button" (click)="deleteVisit(visit)" lock>Delete</button>
              </ion-col>-->
            </ion-row>
        </ion-item>
        <ion-item col-12>
            <button ion-button full (click)="openAddVisitModal(location)">
                Add visit
            </button>
        </ion-item>
        <ion-row>

        </ion-row>
    </ion-list>


</ion-content>
