<ion-header>
    <ion-navbar>
        <ion-title>245 locations</ion-title>
    </ion-navbar>
    <ion-toolbar [ngClass]="scrollDirection">
        <ion-row>
            <ion-buttons ion-col="4">
                <button ion-button icon-only (click)="openSortModal()">
                    <fa-icon name="sort"></fa-icon>
                </button>
            </ion-buttons>
            <ion-buttons ion-col="4">
                <button ion-button icon-only (click)="openSortModal()">
                    <fa-icon name="filter"></fa-icon>
                </button>
            </ion-buttons>
            <ion-buttons ion-col="4">
                <button ion-button icon-only (click)="openFilterModal()">
                    <fa-icon name="map"></fa-icon>
                </button>
            </ion-buttons>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="getScrollPosition($event)" [ngClass]="scrollDirection">
    <ion-searchbar  [(ngModel)]="searchString" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-list *ngFor="let location of locations">
      <ion-item-sliding>
          <ion-item class="item" (click)="viewLocation(location)">
              <ion-grid>
                  <ion-row align-items-center>
                      <ion-col col-auto ngClass="pin">
                          <ion-icon name="ios-pin" ngClass="{{ (location.visits.length < 1)? 'UNKNOWN': location.visits[location.visits.length -1].status }}"></ion-icon>
                      </ion-col>
                      <ion-col col>
                          {{location.formattedAddressString}}
                      </ion-col>
                      <ion-col col-auto ngClass="visits" align-self-center>
                            {{ location.visits.length }}
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>

          <ion-item-options side="right">
              <button ion-button color="danger" (click)="deleteLocation(location); $event.stopPropagation();" lock>
                  Delete
              </button>
          </ion-item-options>
      </ion-item-sliding>

  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" [ngClass]="scrollDirection" (click)="addLocation()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
