page-locations {
    ion-header {
        text-align: center;
        ion-navbar{
            z-index: 10;
            position: relative;
        }
        ion-toolbar {
            position: absolute;
            top: 56px;
            padding: 0 !important;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            z-index: 9;
            .row {
                background: none !important;
                padding: 0px !important;
            }
        }
        .down {
            top:0px;
        }
    }
    .item {
        background: #fff;
        color: #555;
    }
    .content {
        .searchbar-md .searchbar-input {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        ion-list {
            ion-item-sliding {
                ion-item {
                    .item-inner {
                        .input-wrapper {
                            ion-label {
                                margin: 10px 8px 10px 0;
                                ion-grid {
                                    ion-row {
                                        ion-col {
                                            ion-icon {
                                                font-size: 1.6em !important;
                                                color:#A0B0BA !important;
                                            }
                                            ion-icon.not_interested {
                                                color:#fdb45d !important;
                                            }
                                            ion-icon.interested {
                                                color:#3ecf8e !important;
                                            }
                                        }
                                        .pin {
                                            max-width: 30px;
                                        }
                                        .visits {
                                            max-width: 30px;
                                            border-radius: 50%;
                                            padding: 3.5px 8px !important;
                                            font-size: 14px;
                                            font-family: Lato700;
                                            text-align: center;
                                            background: #f3f6f8;
                                            color: #28304f;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                ion-item-options {
                    border-bottom: 0px !important;
                }
            }
        }
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    button.fab {
        bottom:10px;
        box-shadow: none;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    button.down {
        bottom:-60px;
    }
    ion-content.up{
        .scroll-content {
            margin-top: 116px !important;
        }
    }
    ion-content.down{
        .scroll-content {
            margin-top: 56px !important;
        }
    }
    fa-icon {
        font-size: 1.4em !important;
        color: #A0B0BA !important;
    }
}