<ion-header>
    <ion-navbar>
        <ion-title>245 locations</ion-title>
    </ion-navbar>
</ion-header>

<ion-content >
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="openSortModal()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons start>
            <button ion-button icon-only (click)="openFilterModal()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

    <ion-searchbar  [(ngModel)]="searchString" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

  <ion-list *ngFor="let location of locations">

          <ion-item class="item" (click)="viewLocation(location)">
              <ion-row>
                  <ion-col col-1>
                      <ion-icon  *ngIf=" location.type == 'HOUSE' " name="ios-home"></ion-icon>
                      <ion-icon  *ngIf=" location.type == 'APARTMENT' " name="ios-people"></ion-icon>
                  </ion-col>
                  <ion-col col-8>
                      {{location.formattedAddressString}}
                  </ion-col>
                  <ion-col col-2>
                    {{ (location.visits.length < 1)? 'UNKNOWN': location.visits[location.visits.length -1].status }}
                  </ion-col>
                  <ion-col col-1 class="visits">
                      {{ location.visits.length }}
                  </ion-col>
              </ion-row>
          </ion-item>

  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addLocation()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
