page-locations {
 header {
  text-align: center;
 }
 .item {
  background: #fff;
  color: #555;
 }
 .content {
  .searchbar-md .searchbar-input {
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
  }
 }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
